# Fill in your GCP project info and rename this file to ".env".

GOOGLE_GENAI_USE_VERTEXAI=1
GOOGLE_CLOUD_PROJECT=<your-gcp-project-id>
GOOGLE_CLOUD_LOCATION=asia-south1
GOOGLE_CLOUD_STORAGE_BUCKET=<your-gcs-bucket-name>  # Only required for deployment on Agent Engine
GOOGLE_CLOUD_STORAGE_BUCKET_DATA=<your-gcs-bucket-name>
